body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* The Modal (background) */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal Content Box */
.modal-content {
    background-color: #D9D9D9;;
    padding: 40px 8px 40px 1px;
    border-radius: 24px;
    width: 40%;
    max-width: 300px;
    font-size: 40px;
}

.modal-content div{
    width: 95%;
}
/*validate the form*/
.modal input + span {
    position: relative;
}

.modal input + span::before {
    position: absolute;
    font-size: 12px;
    top:30px;
    right:-30px
}

.modal input:invalid {
    border: 2px solid red;
}

.modal input:invalid + span::before {
    content: "❌";
    color: red;
}

.modal input:valid + span::before {
    content: "✔";
    color: green;
}


/*form*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login input {
    margin: 8px;
    border: none;
    width: 80%;
    padding: 8px 5px;
    border-radius: 5px;
    outline: none;
}

.login button {
    margin-top: 20px;
    padding: 10px 30px;
    color: white;
    background-color: #1ac185;
    border: none;
    border-radius: 5px;
}

/*header of web*/
.days {
    background-color: #d9d9d9;
    width: 100%;
}

.days ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    padding-right: 0;
    margin: 0;

}

.days li {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.days li p {
    margin: 0 0 5px 0;
}
 .count{
     width: 25px;
     height: 25px;
     border-radius: 50%;
     background-color: rgba(217, 217, 217, 0.4);
     margin-bottom: 2px;
     text-align: center;
 }

 footer {
     position: fixed;
     bottom: 0;
     right: 0;
     background-color: #D9D9D9;
     width: 99vw;
     padding: 10px;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 footer input {
     padding: 10px;
     border-radius: 5px;
     border: none;
     outline: none;
 }
 #todo {
     width: 70%;
 }
 #time {
     width: 5%;
     margin: 0 20px 0 40px;
     text-align: center;
 }
 #addBtn {
     border: none;
     border-radius: 5px;
     outline: none;
     width: 10%;
     padding: 10px;
     background-color: #1ac185;
     color: white;
     margin-left: 10px;
 }
 /*main section*/
main {
    padding: 20px;
}
.container {

}
.greeting {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todoList ul{
    width: 100%;
    list-style: none;
    padding-right: 0;
}
.todoList ul li {
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.todoList ul li:first-child {
    display: none;
}
.todoList .time {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 40px;
}
.todoList .text {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input[type=checkbox] {
    margin: 0 0 0 10px;
}
