body {
    font-family: 'Open Sans', sans-serif;
}

/* The Modal (background) */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal Content Box */
.modal-content {
    background-color: #D9D9D9;;
    padding: 40px 8px 40px 1px;
    border-radius: 24px;
    width: 40%;
    max-width: 300px;
    font-size: 40px;
}

.modal-content div{
    width: 95%;
}
/*validate the form*/
.modal input + span {
    position: relative;
}

.modal input + span::before {
    position: absolute;
    font-size: 12px;
    top:30px;
    right:-30px
}

.modal input:invalid {
    border: 2px solid red;
}

.modal input:invalid + span::before {
    content: "❌";
    color: red;
}

.modal input:valid + span::before {
    content: "✔";
    color: green;
}


/*form*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login input {
    margin: 8px;
    border: none;
    width: 80%;
    padding: 8px 5px;
    border-radius: 5px;
    outline: none;
}

.login button {
    margin-top: 20px;
    padding: 10px 30px;
    color: white;
    background-color: #1ac185;
    border: none;

    border-radius: 5px;
}

/*header of web*/
.days {
    background-color: gray;

}

.days ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    padding-right: 0;
}

.days li {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .count{
     width: 50px;
     height: 50px;
     border-radius: 50%;
     background-color: #1ac185;
 }

 footer {
     position: fixed;
     bottom: 0;
     background-color: #D9D9D9;
     width: 98vw;
     padding: 10px;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 footer input {
     padding: 10px;
 }
 #todo {
     width: 50%;
 }
 #time {
     width: 5%;
     margin: 0 40px 0 20px;
 }